.mc-lists.el
custom.el
elpa
projectile-bookmarks.eld
quelpa
snippets
transient
auto-save-list
tramp
.lsp-session*
eshell/history
eshell/lastdir
meghanada
bookmarks
request
ido.last
recentf
smex-items
